body{
  height: 100%;
    display: flex;
  background-color: #ffffff;
  margin: 0px;
  flex-direction: column;
  justify-content: center;
}

.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
  margin: 20px;
  border-width: medium;
  border-style: solid;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
.Cuenta{
  margin: 5px;
  border-width: medium;
  border-style: solid;
  border-radius: 20px;
  padding: 5px;
  justify-content: center;
  background-color: #ff6326;
}
.Idioma{
  display: flex;
  flex-direction: column;
}
.Seguridad{
  margin: 5px;
  border-width: medium;
  border-style: solid;
  border-radius: 20px;
  padding: 5px;
  background-color: #ff6326;
}
.Notificaciones{
  margin: 5px;
  border-width: medium;
  border-style: solid;
  border-radius: 20px;
  padding: 5px;
  background-color: #ff6326;
}*
{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
}

header
{
    display: flex;
    background-color: #6687ff;
    width: 100%;
    align-content: space-between;
    justify-content: space-around;
}
header h1
{
    padding: 3%;
}

header h1 a
{
    text-decoration: none;
    color: #f7d054;
    padding: 15px;
}
header h1 a:hover
{
    background-color: white;
    border-radius: 30px;
    transition-duration: 0.5s;
    transition-property: background-color;
}
header img
{
    padding-top: 20%;
    height: 100px;
    width: 100px;
}
footer
{
    background-color: #6687ff;
    color: #f7d054;
    padding: 10px;
}
