*
{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    overflow: hidden;
}
body
{
    display: flex;
    flex-direction: column;
    
}
header
{
    display: flex;
    background-color: #6687ff;
    width: 100%;
    align-content: space-between;
    justify-content: space-around;
}
header h1
{
    padding: 3%;
}

header h1 a
{
    text-decoration: none;
    color: #f7d054;
    padding: 15px;
}
header h1 a:hover
{
    background-color: white;
    border-radius: 30px;
    transition-duration: 0.5s;
    transition-property: background-color;
}
header img
{
    padding-top: 20%;
    height: 100px;
    width: 100px;
}
.contacto img
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.contenido
{
    display: flex;
    flex-direction: column;
    background-color: #ff6326;
    place-content: left;
    width: 80%;
    height: 100%;
    padding: 8px;
    align-self: center;
}
.contacto
{
    display: flex;
    justify-content: left;
    align-content: left;
    background-color: white;
    border-radius: 10px 70px 10px 10px;
    flex-direction: row;
    font-size: 50px;
    
    padding: 10px;
    height: 100px;
    width: 50%;
}
.nombreContacto
{
    margin: 30px;
}
.chat
{
    justify-content: space-between;
    size: 90%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    font-size: 30px;
}
ul
{
    height: 520px;
}

.recivido
{
    list-style: none;
    color: white;
    width: fit-content;
    height: fit-content;
    max-width: 40%;
    margin: 20px;
    background-color: #6687ff;
    padding: 15px;
    border-radius: 30px;
    border-bottom-left-radius: 5px;
}
.enviado
{
    list-style: none;
    text-align: right;
    color: white;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    margin-left: 1000px;
    background-color: #f7d054;
    padding: 15px;
    border-radius: 30px;
    border-bottom-right-radius: 5px;
}
footer
{
    background-color: #6687ff;
    color: #f7d054;
    padding: 11px;
}
.entrada
{
    align-self: center;
}
.entrada input
{
    border-style: hidden;
    background-color: lightgrey;
    margin: 10px;
}
.texto
{
    width: 1300px;
    height: 50px;
    font-size: 30px;  
    border-radius: 5px;  
}
.enviar
{
    border-radius: 5px;
    height: 50px;
}
